graia-ariadne[full]
prettytable
pycryptodome
qrcode
Pillow
SQLAlchemy
matplotlib
ujson
graiax-silkcoder
graia-scheduler
graia-saya
regex
graia-broadcast
aiohttp[speedups]
playwright
aiofile
imageio
prompt-toolkit
lxml
pyyaml
graiax-shortcut
skia-python
arclet-alconna-graia
nepattern